body {
  font-family: sans-serif;
  background-color: #ffbf00;
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
}
.quiz-container {
  max-width: 500px;
  min-width: 250px;
  background: #ffdb00;
  border-radius: 5px;
  margin-top: 100px;
  padding: 30px 60px;
  box-shadow: 10px 5px 20px #d10363;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #219c90;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #fff8db;
  border: 1px solid #7d8abc;
  border-radius: 4px;
  padding: 11px;
  cursor: pointer;
  margin: 15px;
}

.quiz-container ul .selected-answer {
  background: #7d8abc;
  border: 1px solid #7d8abc;
}

.quiz-container button {
  background-color: #4a249d;
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}
